* {
    margin: 10;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
}
.myButton {
   width: 50px;
   height: 50px;
}
.js-even {
    background-color: lightgreen;
}
.js-odd {
    background-color: lightcoral;
}